<a href="https://colab.research.google.com/github/manojcpatil/PythonDemo/blob/master/ExamEmails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import smtplib
from os.path import basename
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email import encoders
import pandas as pd
import numpy as np

Data=pd.read_excel(input("Enter the data file"),sheet_name="STUDDATA")

#The mail addresses and password
sender_address = '******@nmu.ac.in'
sender_pass = '******'
subject_title= 'NSD-2021 Attendance Certificate'
mail_content = '''Thank you for being part of NSD-2021 celebration.
We were thrilled by the attendance we had at such short notice. Thanks to all those of you who participated and helped make it a success.
We’d love to hear your feedback! In case if you have missed 'Online Popular Lectures by Mr. Mule and Mr. Mookherjee' it is available at https://youtu.be/-HDMVTog_ds

We thank you again for registering and participating for NSD Celebration. Please let us know if you have any comments or questions and email us and we’ll get back to you soon.
We look forward to bringing you even more programs/presentations in the future!

For any type of query about the certificates, please, fill free to contact on kirteekamalja@gmail.com .

Regards,
-Organizing Committee
 National Statistics Day-2020 Celebration
 Department of Statistics
 School of Mathematical Sciences
 Kavayitri Bahinabai Chaudhari North Maharashtra University, Jalgaon
'''

session = smtplib.SMTP('smtp.office365.com',587)
session.starttls() #enable security
session.login(sender_address, sender_pass) #login with mail_id and password
# session = smtplib.SMTP('smtp.gmail.com', 587) #use gmail with port

for i in np.arange(0,Data.shape[0]):
    mail_content1="Dear Participant,\n"+str(Data.Name[i])+",\n"+str(Data.College[i])+"\n\n"+mail_content
    
    receiver_address = Data.EmailAddress[i]
    #Setup the MIME
    message = MIMEMultipart()
    message['From'] = sender_address
    message['To'] = receiver_address
    message['Subject'] = subject_title

    #The body and the attachments for the mail
    message.attach(MIMEText(mail_content1, 'plain'))

    #Create SMTP session for sending the mail
    text = message.as_string()
    session.sendmail(sender_address, receiver_address, text)
    print('Mail Sent to',i," ",str(Data.Name[i]))

session.quit()

In [ ]:
import smtplib
from os.path import basename
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email import encoders
import pandas as pd
import numpy as np

Dat2931=pd.read_excel("timetable1.xlsx")
Dat2932=pd.read_excel("timetable2.xlsx")
Ori_Data=pd.read_excel(input("Enter the data file"),sheet_name="STUDDATA")

Enter the data fileSTUD_DATA_DEC_2021.xlsx

Enter the data fileSTUD_DATA_DEC_2021.xlsx

In [ ]:
Temp1=pd.read_excel("timetable1.xlsx")
Temp2=pd.read_excel("timetable2.xlsx")

Temp29=Temp1[Temp1.testdate=='2021-12-29']
Temp292=Temp2[Temp2.testdate=='2021-12-29']

In [ ]:
Temp29=Temp29.append(Temp292)

In [ ]:
for i in Temp29.Subject_code:
  print(i)

841804
203254
126113
322302
226113
822602
819731
236113
816602
821733
111103
822731
324302
824731
166113
318302
712203
724403
816731
816733
816734
311302
902262
362011
361011
862011
861011
812201
811101
36071
822732
821701
821501
821801
36074
914401
914402
213104
821602
812731
812732
812733
116113
811602
811731
811732
811733
233104
818731
821203
216113
319302
841511
824071
841611
824073
843511
824074
824075
111103
812010
902202
836071
836072
836073
836074
2103
2203
841302
841104
841204
841304
841404
841504
843204
843304
841904
842204
842404
902203
905203
824072
823321
901106
901181
36073

In [ ]:
Temp29.to_csv("Temp29.csv")

In [ ]:
temp=pd.DataFrame()
for i in Temp29.Subject_code:
  temp2=Ori_Data[Ori_Data.CODE==str(i)]
  temp=temp.append(temp2)

In [ ]:
temp.to_csv("Dec29_stud.csv")

In [ ]:
Ori_Data[Ori_Data.SUBJECT]

In [ ]:

tre=Ori_Data[Ori_Data['PRN']=='2013015400033465']
#tre[tre['PCODE']=='1312202018']
#tre.to_csv('Sub905343.csv')
tre

              DATE EXAM CLASS CENT_CODE  ... FACULTY EMCODE  FC BRANCH
395170  21/12/2021   BA    SY    170032  ...    ARTS    NaN NaN    NaN
396997  21/12/2021   BA    TY    170032  ...    ARTS    NaN NaN    NaN
396998  21/12/2021   BA    TY    170032  ...    ARTS    NaN NaN    NaN
396999  21/12/2021   BA    TY    170032  ...    ARTS    NaN NaN    NaN
397000  21/12/2021   BA    TY    170032  ...    ARTS    NaN NaN    NaN
397001  21/12/2021   BA    TY    170032  ...    ARTS    NaN NaN    NaN

[6 rows x 20 columns]

In [ ]:
Dat24=pd.read_csv("Dec24data.csv")

In [ ]:
Dat24.Subject_code

0     902254
1     824403
2      71024
3      72044
4      73064
       ...
62    361304
63    361404
64    361504
65    362404
66     36040
Name: Subject_code, Length: 67, dtype: int64

In [ ]:
temp=pd.DataFrame()
for i in Temp29.Subject_code:
  temp2=Ori_Data[Ori_Data.CODE==str(i)]
  temp2["teststarttime"]=Temp29.teststarttime[Temp29.Subject_code==str(i)]
  temp=temp.append(temp2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
import smtplib
from os.path import basename
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email import encoders
import pandas as pd
import numpy as np

Data=pd.read_excel(input("Enter the data file"),sheet_name="Sheet1")

In [ ]:
Data2=pd.read_excel(input("Enter the data file"),sheet_name="Combined")
Data2.to_csv("Data2.csv")

Enter the data fileCombinedData2021Dec07.xlsx

In [ ]:
Data3=Data2[Data2['CoursePartName']=='Part-II']

In [ ]:
temp=pd.DataFrame()
for i in Data3['PRN']:
  temp2=Data[Data['PRN']==i]
  temp=temp.append(temp2)
temp

                                        Course FULL Name  ... More55
0                             B.Sc. (Actuarial Science)   ...      1
1                             B.Sc. (Actuarial Science)   ...      1
2                             B.Sc. (Actuarial Science)   ...      1
3                             B.Sc. (Actuarial Science)   ...      1
4                             B.Sc. (Actuarial Science)   ...      1
...                                                  ...  ...    ...
83916  M.Sc (Statistics (with Specialization in Indus...  ...      0
83917  M.Sc (Statistics (with Specialization in Indus...  ...      0
83918  M.Sc (Statistics (with Specialization in Indus...  ...      1
83919  M.Sc (Statistics (with Specialization in Indus...  ...      1
83920  M.Sc (Statistics (with Specialization in Indus...  ...      1

[49623 rows x 10 columns]

In [ ]:
temp.columns

Index(['Course FULL Name', 'Name OF Student', 'PRN', 'Paper Code',
       'Paper GROUP/Paper Name/Additional Passing Head', 'Method', 'IntExt',
       'Marks', 'MaxMarks', 'More55'],
      dtype='object')

In [ ]:
temp6=temp[['Course FULL Name', 'Name OF Student', 'PRN', 'Paper Code','Paper GROUP/Paper Name/Additional Passing Head', 'Method', 'IntExt']]
temp6=temp6.drop_duplicates()
temp7=pd.DataFrame()
for i in temp6['PRN']:
  temp8=temp[temp['PRN']==i]
  temp7=temp7.append(temp8)

In [ ]:
temp2=temp.drop_duplicates()

In [ ]:
temp2=temp2.reindex()
temp2.pivot_table(values=['More55'],index=['Course FULL Name','Paper GROUP/Paper Name/Additional Passing Head'],columns=['IntExt'],aggfunc=['sum', 'count','mean'])

                                                                                                         sum  ...      mean
                                                                                                      More55  ...    More55
IntExt                                                                                                    CA  ...        UA
Course FULL Name                                   Paper GROUP/Paper Name/Additional Passing Head             ...
B.Sc. (Actuarial Science)                          AS-101 Calculus                                       2.0  ...  0.307692
                                                   AS-102 Linear Algebra                                 0.0  ...  0.291667
                                                   AS-103 Descriptive Statistics                         1.0  ...  0.277778
                                                   AS-104 Probability Distributions-I                    2.0  ...  0.400000
                                                   AS-105 Practicals-I                                   3.0  ...  0.315789
...                                                                                                      ...  ...       ...
M.Sc(Chemistry with Specialization in Industria... IC-004 Laboratory Course in Industrial Chemistry-I   17.0  ...  1.000000
                                                   IC-301 Unit Operations in Chemical Industries        17.0  ...  0.941176
                                                   IC-302 Synthetic Methods in Organic Synthesis        17.0  ...  1.000000
                                                   IC-303 Industrial Polymers and Paint Technology      15.0  ...  0.941176
                                                   IC-304 Pharmaceutical Chemistry                      17.0  ...  1.000000

[1323 rows x 6 columns]

In [ ]:
temp2=temp[['Course FULL Name', 'Name OF Student', 'PRN', 'Paper Code','Paper GROUP/Paper Name/Additional Passing Head']]

In [ ]:
temp3=temp2.drop_duplicates()

In [ ]:
for i in temp3.index():
  temp3[['Course FULL Name', 'Name OF Student', 'PRN', 'Paper Code','Paper GROUP/Paper Name/Additional Passing Head']]