In [1]:
import numpy as np
import pandas as pd

**Simple Random Sampling**

In [12]:
data=pd.DataFrame({'id': range(1,31), 'Age': np.random.randint(19,24,30)})
data.head()

   id  Age
0   1   22
1   2   21
2   3   21
3   4   20
4   5   21

In [25]:
SRSWR_sample=data.sample(n=10,replace=True).sort_values(by='id')
SRSWR_mean=SRS_sample['Age'].mean()
SRSWR_sample

    id  Age
4    5   21
6    7   22
7    8   22
7    8   22
9   10   20
11  12   20
22  23   22
24  25   23
24  25   23
27  28   19

In [28]:
SRSwOR_sample=data.sample(n=10,replace=False).sort_values(by='id')
SRSwOR_mean=SRS_sample['Age'].mean()
SRSwOR_sample

    id  Age
2    3   21
6    7   22
7    8   22
12  13   22
14  15   23
16  17   22
17  18   19
22  23   22
26  27   21
28  29   20

# Systematic Sampling

In [55]:
n=6
N_pop=len(data.index)
k=round(N_pop/n)
i=np.random.randint(1,k)
SyS_sample=data.iloc[np.arange(i,N_pop+1,k)]
SyS_mean=SyS_sample['Age'].mean()
SyS_sample

    id  Age
3    4   20
8    9   19
13  14   19
18  19   20
23  24   22
28  29   20

In [82]:
data['Gender']=np.random.choice(['M','F'],30)

StrS=pd.DataFrame()
nh={'M':5,'F':7}

for i in np.unique(data.Gender):
  data_temp=data[data.Gender==i]
  StrS=pd.concat([StrS,data_temp.sample(n=nh[i])])

StrS=StrS.sort_index()
StrS

    id  Age Gender
3    4   20      F
6    7   22      F
9   10   20      F
10  11   22      M
11  12   20      F
13  14   19      F
14  15   23      F
17  18   19      M
22  23   22      M
23  24   22      M
24  25   23      F
27  28   19      M

In [109]:
s1=np.array([5, 4, 1, 2, 4, 3, 7, 5, 0, 3])
s2=np.array([11, 9, 13, 9, 4, 5, 5, 14, 8, 9, 11, 7, 10, 14, 7])
s3=np.array([22, 16, 18, 18, 23, 20, 20, 19, 20, 16, 21, 20, 26, 20, 26, 18, 21, 17, 22, 21])
N1, N2, N3=1000, 1500, 2500
n1, n2, n3= 10, 15, 20
N=N1+N2+N3
n=n1+n2+n3

nh=np.array([10,15,20])
Nh=np.array([1000,1500,2500])

ybarh=np.array([np.mean(s1),np.mean(s2),np.mean(s3)])
ybarh

Wh=np.array([N1,N2,N3])/N

ybarst=sum(Wh*ybarh)

S2h=np.array([np.var(s1,ddof=1),np.var(s2,ddof=1),np.var(s3,ddof=1)])
S2h

se_st=np.sqrt(sum(Wh*Wh*S2h*(1/nh-1/Nh)))

In [104]:
ybarst

13.5

In [110]:
se_st

0.41407016949202935

array([0.1536, 0.8456, 1.815 ])